.env

__pycache__
.pytest_cache/

.VSCodeCounter
*.egg-info/
*.pyc
build/
dist/

local-file
.DS_Store
masterbrain/endpoints/chat/qa/language/logs
.idea/
.cursor/
.vscode/

node_modules/

.coverage
htmlcov/

*.pem
*.key
*.crt
